{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>JobHunt - Find your dream job!</title>
      <link rel="stylesheet" href="{% static 'css/components.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
      <link rel="stylesheet" href="{% static 'css/icons.css' %}">
      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>    
      <script type="text/javascript" src="{% static 'js/template-scripts.js' %}"></script> 
   </head>
   <body class="size-1140">
  	 
      <!-- TOP NAV WITH LOGO -->
      <header>

         <nav>
            <div class="line">
               <div class="s-12 l-2">
                  <p class="logo"><strong>Job</strong>Hunt</p>
               </div>
               <div class="top-nav s-12 l-10">
                  <p class="nav-text">Custom menu text</p>
                  <ul class="right">
                     <li class="active-item"><a href="{% url 'index' %}">Home</a></li>
                     <li><a href="{% url 'it' %}">Information Technology</a></li>
                     <li><a href="{% url 'teaching' %}">Teaching</a></li>
                     <li><a href="{% url 'banking' %}">Banking</a></li>
                     <li><a href="{% url 'marketing' %}">Marketing</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>  
	  {% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">logout</a></p
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}">login</a>
{% endif %}

<div class="container">
	{% block content %}
	{% endblock content %}
</div>
</body>
</html>
