{% extends 'base.html' %}
{% block content %}
         
<!-- SERVICES -->
         <div id="services">
            <div class="line">
               <h2 class="section-title">Were you looking for job?</h2>
               <div class="margin">
                  <div class="s-12 m-6 l-4 margin-bottom">
                     <i class="icon-vector"></i>
                     <div class="service-text">
                        <h3>What we do?</h3>
                        <p>JobHunt has all of the latest jobs in Pakistan for you. The perfect job in your own city is just a few clicks away. </p>
                     </div>
                  </div>
                  <div class="s-12 m-6 l-4 margin-bottom">
                     <i class="icon-eye"></i>
                     <div class="service-text">
                        <h3>We look to the future</h3>
                        <p>Start your job search at Pakistan's No.1 Jobs site. Browse latest jobs in Pakistan and find your dream job.</p>
                     </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-bottom">
                     <i class="icon-random"></i>
                     <div class="service-text">
                        <h3>We find a solution</h3>
                        <p>Single stop accross the web for all type of Jobs. Whether you are looking for a part time job or a full time job, find your dream job in Pakistan now.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- LATEST NEWS -->
         <div id="latest-news">
            <div class="line">
              <h2 class="section-title">Latest Jobs</h2> 
              <div class="margin">
                <div class="s-12 m-6 l-6">
                  <div class="s-12 l-2">
                    <div class="news-date">
                      <p class="day">28</p><p class="month">JANUARY</p><p class="year">2019</p>
                    </div>
                  </div>
                  <div class="s-12 l-10">
                    <div class="news-text">
                      <h4>Need for full-stack Java Developer</h4>
                      <p>Strong hands-on experience with Java, J2EE, Spring Core, Spring JDBC, MVCExp. In Object-oriented analysis, design and programming, database modeling, etc.</p>
                    </div>
                  </div>   
                </div> 
                <div class="s-12 m-6 l-6">
                  <div class="s-12 l-2">
                    <div class="news-date">
                      <p class="day">12</p><p class="month">FEB</p><p class="year">2019</p>
                    </div>
                  </div>
                  <div class="s-12 l-10">
                    <div class="news-text">
                      <h4>Telesales Marketing Jobs</h4>
                      <p>We are a US Based Company looking for an enthusiastic Telesales Representative to contribute in generating sales for our company. </p>
                    </div>
                  </div>   
                </div>  
              </div>
            </div>
         </div> 
      <!-- FOOTER -->
      <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2018 &copy;</p>
            </div>
            <div class="s-12 l-6">
               <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding<br> by ATA Team</a>
            </div>
         </div>
      </footer>
{% endblock content %}
